/* variables */
:root{
    --bgChatroom: #37c8bf;
    --borderColor: #c5c5c5;
    --bgLabel:#e5e5e5;
}
/* fonts */
/* reset */
ul{
    padding: 0;
}

/* base styles */
.wrapper{
    width: 600px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}
h1, .chatroom, label{
    text-align: center;
}
li{
    list-style-type: none;
}
.chatrooms li{
    display: inline;
    padding: 8px 10px;
}
button,.chatrooms li{
    background-color: var(--bgChatroom);
    color: white;
    border-radius: 3px;
}
.chatrooms li:hover ,button:hover{
    cursor: pointer;
    color: black;
}
.chat li{
    text-align: left;
    border: 1px var(--borderColor) solid;
    margin: 2px;
    padding: 10px;
}
.name{
    font-weight: bold;
}
.timestamp{
    color: var(--borderColor);
    font-size: 0.8em;
    margin: 3px;
}
.msg-input,.name-input{
    display: flex;
    flex-direction: row;
}
button{
    flex-grow: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
label{
    flex-grow: 0;
    background-color: var(--bgLabel);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
input{
    flex-grow: 1;
}
input,label,button{
    padding: 5px 10px;
}
input,button:focus{
    outline-color: grey;
}
input,label,button{
    border: 1px #dadada solid;
}
.msg-input{
    margin-bottom: 10px;
}